body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-image: url('chessboard.jpg');
    background-size: cover;
  }
  
  img {
    max-width: 40vw;
    max-height: 20vw;
    display: block;
    margin: auto;
    margin-bottom: 75px;
  }
  
  form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
  }
  
  button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 20px;
  }
  
  #greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
    color: green;
    background-color: white;
  }
  
  #greeting:empty {
    display: none;
  }
  
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }